@model CPIS_358_project.Models.Services

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/project_style.css">

<style>
    main {
        margin-top: 90px;
    }

    fieldset {
        background-color: rgba(255, 255, 255, 0.4);
    }

    .content-container {
        display: inline-block;
        text-align: left;
        width: 100%;
        padding: 10px;
    }

    dt {
        color: #412323;
        font-weight: bold;
    }

    dd {
        color: #555;
        margin-bottom: 15px;
    }

    .btn-edit {
        display: inline-block;
        text-decoration: none;
        color: white;
    }

        .btn-edit:hover {
            color: #f5e3cf;
        }
</style>

<main>
    <h1 style="color: rgb(2, 1, 1); text-shadow: 1px 1px 10px rgb(73, 52, 38); font-style:italic;">Service Details</h1>

    <h4 style="color: #412323;">View Information</h4>
    <hr style="border-top: 2px solid #c46a25; width: 50%; margin: auto; margin-bottom: 20px;" />

    <div class="row justify-content-center">
        <div class="col-md-5" style="margin: auto;">

            <fieldset>
                <div class="content-container">

                    <dl class="row">
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Profession)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Profession)
                        </dd>

                        <dt class="col-sm-6">
                            Years of Experience
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.yearsOfExperience)
                        </dd>
                    </dl>

                    <div style="text-align: center; margin-top: 20px;">
                        <a asp-action="Edit" asp-route-id="@Model?.ID" class="nav-btn btn-edit" style="font-weight: bold;">Edit</a>
                        <span style="margin: 0 10px;"></span>
                        <a asp-action="Index" class="secondary-button">Back to List</a>
                    </div>
                </div>
            </fieldset>

        </div>
    </div>
</main>